<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    <img src="./assets/images/ddlogo-an.png" width="140" height= "50" class="d-inline-block align-top" alt="DOMDevs">

  </a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active"  routerLink="/">Home</a>
      <a class="nav-item nav-link active" routerLink="/services">Services</a>
      <a class="nav-item nav-link active" routerLink="/about">About Us</a>
      <a class="nav-item nav-link active" routerLink="/contact">Contact</a>
    </div>
  </div>
</nav>




<!--
<div style="text-align:center">
  <a routerLink="/">Home</a>
  <a routerLink="/services">Services</a>
  <a routerLink="/about">About Us</a>
  <a routerLink="/contact">Contact</a>

</div>
-->