<!--
  <div>
<form action="https://formspree.io/heagueron@gmail.com"
      method="POST">
    <input type="text" name="name">
    <input type="email" name="_replyto">
    <input type="submit" value="Send">
</form>

</div>
-->

<!-- snippet code for getSiteControl -->
<script>
  (function (w,i,d,g,e,t,s) {w[d] = w[d]||[];t= i.createElement(g);
    t.async=1;t.src=e;s=i.getElementsByTagName(g)[0];s.parentNode.insertBefore(t, s);
  })(window, document, '_gscq','script','//widgets.getsitecontrol.com/89208/script.js');
</script>
<!-- end of snippet code for getSiteControl -->

<div class="container">
<div class="row">

  <div class="col-sm-6" style="padding: 40px">

<form action="https://formspree.io/heagueron@gmail.com"
      method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="_replyto">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>

  <div class="form-group">
    <label for="exampleTextarea">Tell us something about your project</label>
    <textarea class="form-control" id="exampleTextarea" rows="3" name="name"></textarea>
  </div>

  <button type="submit" class="btn btn-outline-primary">Submit</button>
</form>

  </div>
    <div class="col-sm-6" style="padding: 40px">

      <img src="./assets/images/wdc1.jpeg"  width="400" height= "auto" alt="" class="img-responsive">

    </div>

</div>
</div>

