.landing{
    padding-top: 10px;
    padding-bottom: 70px;
    background: url("/assets/images/wdc4.jpg");
    background-size: 120%;
    background-repeat: no-repeat;
    color: white;
}
/*TODO: Use media querying to adjust the padding */ 

h1 {
    font-size:250%; 
    padding-top: 30px;
}
.bottom-landing{
    padding-top: 20px; 
        padding-bottom: 5px;
}
    strong {
        font-size:70%; 
    }

@media screen and (min-width: 480px) {
    h1 {
        font-size:500%; 
    padding-top: 100px;
    }
    .bottom-landing{
        padding-top: 130px; 
        padding-bottom: 90px;
     }
    strong {
        font-size:100%; 
    }

}

