<div class= "footer">

  <div class="container">
  <div class="row">

    <div class="col-sm-6" style="text-align:left;">
      <p>
        006 University Av. <br>
        Maracaibo, Zu 4005 <br>
        Venezuela <br>
        +58 414 6196931
      </p>
    </div>

    <div class="col-sm-6" style="text-align:left;">
      <p>
        email: heagueron@gmail.com
      </p>
      <a class="btn btn-outline-primary" routerLink="/contact" role="button">Contact</a>    
    </div>

  </div>
</div>

</div>
