<div style="text-align:center; padding: 20px">
 <h2> ABOUT US </h2>
 <p> We build awesome web and mobile apps</p>
</div>

<div class="container">
<div class="row">

  <div class="col-sm-7" style="padding: 40px">

    <p>
      <strong>DOMDevs</strong> is commited to deliver top quality software solutions for
      your web and mobile apps.<br>
      We are located in Maracaibo, Venezuela and since 2014 we are developing projects in 
      AngularJS, Angular V4 for the front-end and Java, PHP (CodeIgniter) for the back-end. <br>
      We also develop and support the Wordpress content management system.<br>

      As clouds services evolve, we also support development of serverless solutions such as
      those based in Firebase.<br>
      Tell us about your project and we will be more than happy to start collaborating. 

    
    </p>

  </div>

  <div class="col-sm-5" style="padding: 40px">


        <img src="./assets/images/Programmer.jpg"  width="400" height= "auto" alt="" class="img-responsive">


  </div>

</div>
</div>
