<div style="text-align:center; padding: 20px">
 <p> We proudly offer our long experience in web and mobile development as a team ready to build <br>
  high quality and engaging products.<br>
  Need professional support for your currents applications? <a routerLink="/contact" >Talk to us</a>
 </p>
</div>




<div class="container">
<div class="row">

  <div class="col-sm-4" style="padding: 40px">

      <div class="card" style="width: 20rem; text-align:center; border:none">
         <img class="card-img-top" src="./assets/images/desktop-app.png"  width="318" height= "auto" alt="">
         <div class="card-block">
           <h4 class="card-title">Web Apps</h4>
           <p class="card-text">Our solutions are based on top technologies including HTML5, Bootstrap, AngularJS, Angular V4, etc.</p>
         </div>
      </div>

  </div>

  <div class="col-sm-4" style="padding: 40px">

      <div class="card" style="width: 20rem; text-align:center; border:none">
        <img class="card-img-top" src="./assets/images/mobile.jpg"  width="318" height= "auto" alt="">
        <div class="card-block">
          <h4 class="card-title">Mobile Apps</h4>
          <p class="card-text"> We develop engaging mobile apps using modern tools such as Ionic, NativeScript.</p>
        </div>
      </div>

  </div>


  <div class="col-sm-4" style="padding: 40px">

      <div class="card" style="width: 20rem; text-align:center; border:none">
        <img class="card-img-top" src="./assets/images/backend5.jpg"  width="318" height= "auto" alt="">
        <div class="card-block">
          <h4 class="card-title">Back-End</h4>
          <p class="card-text">We can support your web and mobile apps developing in PHP, CodeIgniter, Java, NodeJS and serverless solutions such as Firebase. We can also build your MySQL database.</p>
        </div>
      </div>

  </div>


</div>
</div>

